* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: BodoniModa !important; */
     font-family: Montsterrat !important;


}
/* header */

#pages {
    
}
.header {
    width: 100%;
    position: fixed;
    z-index: 100;
}
.header .sticky {

}
.header-nav {
    text-align: center;
    max-width: 1220px;
    margin: auto;
    background-color: var(--color--white);
}
.header-nav .logo {
    width: 100%;
}
.header-nav img {
    /* max-height: 30px; */
    width: 200px;
    /* margin: 30px auto; */
}
.menu {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--color--white);
    height:50px;
    
   
}
.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    margin: 0;
}
.menu ul li {
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    color: #333333;
    
}
.menu ul:nth-child(1) li a:hover{
    color: var( --color--hover);
    border-bottom: 4px solid var(--color--hover);
    
    
}
.menu ul li a {   
    text-decoration: none;
    color: var(--color--fontss);
  
  
}
.menu ul:nth-child(1) li a::after {
    content: "";
   
}
.menu ul li a svg {
    width: 26px;
}
.menu ul:nth-child(2) li:nth-child(2) a {
    display: flex;
    align-items: center;
}
.menu ul:nth-child(2) li:nth-child(2) a p {
    margin: 0;
}
.menu ul:nth-child(2) {
    padding: 0 20px;
}
.menu ul:nth-child(2) li {
    padding: 0 5px;
}

/* banner */

#banner {

}
.container-banner{
    max-width: 1220px;
    margin: auto;
    display: flex;
    padding-top: 55px;
    
}
.banner-left-slider img{
    max-width: 100%;
    padding: 0 12px;
    
}
.banner-left-slider {
    width: 100%;
    
} 
.banner-right {
    width: 30%;
}
.banner-right .slider1-right{
    width: 100%;
    padding: 0 12px;
    background-color: #EEF2F3;
    padding: 30px 20px 20px 20px;
    height: 255px;
    position: relative;
    
}
.banner-right .slider1-right h3 {
    font-family: BodoniModa !important;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    margin-top: 20px;
}
.banner-right .slider1-right h3::selection {
    background-color: var(--color--hover);
}
.banner-right .slider1-right .span-line {
    font-size: 32px;
    font-family: BodoniModa !important;
    text-align: center;
    display: block;
    z-index: 1;
    position: relative;

}
.banner-right .slider1-right span::selection {
    background-color: var(--color--hover);

  
}
.span-line {

}
.highlight-border {
    content: "";
    position: absolute;
    left: 26%;
    bottom: 25%;
    width: calc(50%);
    height: 8px;
    margin-left: -0.15em;
    transform: skew(-12deg) translateX(0);
    background-color:#ebc989;
    color:#171b20;
    z-index: -1;

}

.banner-right .slider2-right{
    width: 100%;
    height: 350px;
    padding: 20px;
    text-align: center;
    background-image: url(/img/babyshop-promo-bg1.webp);

}
.edit-age {
    text-align: center;
    margin-top: 10px;
}
.edit-age a {
    text-decoration: none;
    font-size: black;
    padding: 10px;
    transition: ease 0.15s;
    border-bottom: 4px solid var(--color--cyan--bluish--gray);
    cursor: pointer;
    -webkit-transition: ease 0.15s;
    -moz-transition: ease 0.15s;
    -ms-transition: ease 0.15s;
    -o-transition: ease 0.15s;
}
.edit-age a:hover {
    border-bottom: 4px solid var(--color--black);
    transition: ease 0.15s;
    -webkit-transition: ease 0.15s;
    -moz-transition: ease 0.15s;
    -ms-transition: ease 0.15s;
    -o-transition: ease 0.15s;
    border-top: 4px solid var(--color--black);
    margin: 0 10px;
}
.edit-age a span {
    color: var(--color--black);
    font-weight: 600;
}
.slider2-right img {
    width: 200px;
    display: block;
    margin: 30px auto 0;

}
.slider2-right img::selection {
    background-color: var(--color--hover);
}
.slider2-right h3 {
    display: block;
    text-align: center;
    font-family: BodoniModa !important;
}
.slider2-right h3::selection {
    background-color: var(--color--hover);
}
.slider2-right h3 span::selection {
    background-color: var(--color--hover);
}
.slider2-right h3 span {
    display: block;
    font-family: BodoniModa !important;
    font-weight: 700;
}
.slider2-right a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    color: var(--color--black);
    
}
.slider2-right a span::selection {
   
}
.slider2-right a span {
    padding-bottom: 15px;
    position: relative;
    border-bottom: 4px solid var(--color--cyan--bluish--gray);
}
.slider2-right a span:hover {
    padding: 15px 0;
    border-top: 4px solid var(--color--black);
    border-bottom: 4px solid var(--color--black);
    transition: ease 0.15s;
    -webkit-transition: ease 0.15s;
    -moz-transition: ease 0.15s;
    -ms-transition: ease 0.15s;
    -o-transition: ease 0.15s;
}
/* .slider2-right a span::after,
.slider2-right a span::before {
    content: "";
    width: 160px;
    height: 4px;
    margin: 15px auto;
    display: block;
    background-color: var(--color--cyan--bluish--gray);
} */
/* .slider2-right a span::before, .slider2-right a:hover {
    background-color: var(--color--black);
    content: "";
    width: 160px;
    height: 4px;
    top: 0;
    left: 0;
    position: absolute;
    margin: 15px auto;
    /* display: block; */
/* } */ 




/* slider */

.banner-left-slider{
    position: relative;
   
}
.slider1-left{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.slider2-left{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
/* .slider2-left:hover {
    transition: ease-in 0.5s;
    opacity: 0;
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    -ms-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
} */
.text-slider-deatais:nth-child(1){
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transition: ease-in 0.5s;
    -webkit-transition: ease-in 0.5S;
    -moz-transition: ease-in 0.5S;
    -ms-transition: ease-in 0.5S;
    -o-transition: ease-in 0.5S;
}
.text-slider-deatais:nth-child(2) {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: ease-in 0.5s;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    -ms-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
}
.text-slider{
    width: 100%;
    position: absolute;
    top: 25%;
    text-align: center;
    transition: ease-in 0.5s;
    -webkit-transition: ease-in 0.5S;
    -moz-transition: ease-in 0.5S;
    -ms-transition: ease-in 0.5S;
    -o-transition: ease-in 0.5S;
}
.text-slider-itaclic{
    display: block;
    font-family: BodoniModa !important;
    font-style: italic;
    font-size: 52px;
}
.text-slider-bold{
    display: block;
    font-family: BodoniModa !important;
    font-weight: bold;
    font-size: 60px;

}
.text-slider-bold-2{
    font-family: BodoniModa2 !important;
    font-size: 97px;
    font-weight: bold;
    color: var(--color--hover);

}
.text-slider a {
    display: block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    background-color: var(--color--black);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 25px;
    transition: ease-in 0.25s;

}
.text-slider a:hover {
    background-color: var(--color--fontss);
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -ms-transition: ease-in 0.25s;
    -o-transition: ease-in 0.25s;
}
.text-slider a span {
    color: var(--color--white);
    font-weight: 500;
}
.div-btn-slider {
    width: 20%;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.btn1-slider {
    width: 20px;
    height: 20px;
    background-color: var(--color--white);
    margin: 0 5px;
    display: block;
    padding: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.btn2-slider {
    width: 20px;
    height: 20px;
    background-color: var(--color--white);
    margin: 0 8px;
    display: block;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.btn1-slider:hover {
    background-color: var(--color--black);
    transition: ease-in 0.15s;
    -webkit-transition: ease-in 0.15s;
    -moz-transition: ease-in 0.15s;
    -ms-transition: ease-in 0.15s;
    -o-transition: ease-in 0.15s;
}
.btn2-slider:hover {
    background-color: var(--color--black);
}

.title-btn1 {
    font-family: Montsterrat !important;
    background-color: var(--color--black);
    color: var(--color--white);
    position: absolute;
    top:-40px;
    left: -104px;
    /*display: none;
    */
    /* visibility: hidden; */
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    opacity: 0;
}
.btn1-slider2:hover .title-btn1 {
    display: block;
    z-index: 3;
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%);
    transition: ease-in 0.30s;
    -webkit-transition: ease-in 0.30s;
    -moz-transition: ease-in 0.30s;
    -ms-transition: ease-in 0.30s;
    -o-transition: ease-in 0.30s;
    opacity: 1;
}
.title-btn1::after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    position: absolute;
    bottom: -9px;
    right: 4px;
}
.title-btn2 {
    font-family: Montsterrat !important;
    background-color: var(--color--black);
    color: var(--color--white);
    position: absolute;
    top: -40px;
    right: -67px;
    opacity: 0;
}
.btn2-slider2:hover .title-btn2 {
    display: block;
    z-index: 3;
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%);
    transition: ease-in 0.30s;
    -webkit-transition: ease-in 0.30s;
    -moz-transition: ease-in 0.30s;
    -ms-transition: ease-in 0.30s;
    -o-transition: ease-in 0.30s;
    opacity: 1;
}
.title-btn2::after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    position: absolute;
    bottom: -9px;
    left: 4px;
}
/* .banner-left-slider {
    
}
.container-banner {
   
} */
.container-banner-deatails {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.banner-left-slider {
    transition:ease-in 0.25s;
    -webkit-transition:ease-in 0.25s;
    -moz-transition:ease-in 0.25s;
    -ms-transition:ease-in 0.25s;
    -o-transition:ease-in 0.25s;
}
.btn02 {
    background-color: var(--color--hover);
    border-top: 4px solid var(--color--hover);
}
.text-slider {
    /* position: relative; */
}

/* brand */

.brand{
    width: 100%;
}
.container-brand-deatails {
    max-width: 1220px;
    margin: 20px auto;
}
.container-brand{
    display: flex;
    align-items: center;
}
.container-brand-item{
    width: calc((100% / 4));
    text-align: center;
    height: 99px;
}
.container-brand-item a {
    text-decoration: none;
    color: var(--color--cyan--bluish--gray);
    /* display: block; */
    line-height: 99px;
    position: relative;
    z-index: 1;
    padding: 10px;

}.container-brand-item a:hover span {
    color: var(--color--black);
    transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -ms-transition: ease-in 0.25s;
    -o-transition: ease-in 0.25s;
}
.container-brand-item a:hover svg {
    margin-top: 20px;
    opacity: 1;
    transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -ms-transition: ease-in 0.25s;
    -o-transition: ease-in 0.25s;
}
.container-brand-item a span {
    font-family: BodoniModa !important;
    font-size: 23px;
    display: inline-block;

}
.container-brand-item a svg {
    width: 50px;
    display: block;
    top: 8px;
    position: absolute;
    color: var(--color--cyan--bluish--gray);
    left: 25%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -ms-transition: ease-in 0.25s;
    -o-transition: ease-in 0.25s;
}

/* product catalog */

.product-catalog{
    width: 100%;
}
.container-product-text-catalog{
    max-width: 1220px;
    margin: auto;
}
.title-content-h3{
    text-align: center;
}
.title-content-h3 hr {
    background-color: transparent;
}
.title-content-h3 h3 {
    font-size: 30px;
    font-family: BodoniModa !important;

}
.title-content-h3 h3 span {
    font-size: 30px;
    font-family: BodoniModa !important;
    position: relative;
    z-index: 1;
}
.title-content-h3 h3 span::before {
    content: "";
    background-color: var(--color--hover);
    position: absolute;
    width: 185px;
    height: 6px;
    transform: skew(12deg);
    -webkit-transform: skew(12deg);
    -moz-transform: skew(12deg);
    -ms-transform: skew(12deg);
    -o-transform: skew(12deg);
    bottom: 11px;
    left: 0;
    z-index: -1;
}
hr {
    background-color: transparent;
}
.title-content-h2{
    text-align: center;
}
.title-content-h2 h2 {
    font-family: BodoniModa !important;
    font-weight: 700;
    font-size: 55px;
}

/* product item deatails */

.container-product-item{
    width: 100%;
}
.container-product-item .container-ul {
    padding: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
    margin: 0;
}
.container-product-item .color-ul {
    justify-content: center;
    display: flex;
}
.container--product-item-deatails-li {
    /* max-width: calc((100% / 4 - 10px)); */
    list-style: none;
    padding: 5px 5px;
}
.container--product-item-deatails ul {
    max-width: 1220px;
}
.frame-product{
    width: 100%;
    position: relative;
}
.frame-product .onSale {
    font-family: Montsterrat !important;
    background-color: var(--color--hover);
    padding: 5px;
    color: var(--color--white);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 12px;
    font-weight: 500;
    z-index: 2;
}
.frame-product .image a img {
    width: 100%;
}
.image{
    width: 100%;
    position: relative;
}
.image a .img-hover {
    position: absolute;
    top: 0;
    left: 0;
}
.image a .img-hover {
    opacity: 1;
    transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -ms-transition: ease-in 0.25s;
    -o-transition: ease-in 0.25s;
}
.img-link{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:39px;
    z-index: 1;

}
.img-link a {
    text-align: center;
    margin: 0 20px;
}
.img-link a:hover {
    background-color: var(--color--hover);
}
.img-link a .icon-item-product {
    width:calc((100% / 3));
    width: 40px;

}
.infomation-text{
    width: 100%;
    position: relative;
    z-index: 2;
}
.infomation-text a {
    text-decoration: none;
    color: var(--color--black);
}
.infomation-text a h5 {
    font-size: 20px;
    margin: 0;
    background-color: var(--color--white);
    height: 48px;
    margin-bottom: 5px;
}
.color-infomation-text{
    width: 100%;
}
.color-infomation-text ul {
    margin: 0;
    padding: 0;
    justify-content: center;
}
.color-infomation-text ul .color-li {
    list-style: none;
}
.color-infomation-text ul .color-li a {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    display: flex;
    border: 1px solid var(--color--cyan--bluish--gray);
    border-radius: 100%;
    background-color: var(--color--white);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    justify-content: center;
    align-items: center;
    line-height: 25px;

}
.color-infomation-text ul .color-li a:hover {
    border: 2px solid var(--color--cyan--bluish--gray);
}
.color-infomation-text ul li a .color-span {
    width: 16px;
    height: 16px;
    /* display: block; */
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    text-align: center;
    justify-content: center;

} 
.container--product-item-deatails-li:hover .img-link {
   transform: translateY(-85%);
   -webkit-transform: translateY(-85%);
   -moz-transform: translateY(-85%);
   -ms-transform: translateY(-85%);
   -o-transform: translateY(-85%);
   transition: ease-in 0.25s;
   -webkit-transition: ease-in 0.25s;
   -moz-transition: ease-in 0.25s;
   -ms-transition: ease-in 0.25s;
   -o-transition: ease-in 0.25s;
}
.container--product-item-deatails-li:hover .img-hover {
    opacity: 0;
}
.price{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: var(--color--hover);
    align-items: center;
}
.odd{
    margin: 0 5px;
    opacity: 0.8;
    text-decoration: line-through;
}
.new{
    margin: 0;
    font-size: 20px;

}
/* Btn catalog */

.button-catalog {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 70px 0; 
}
.button-catalog a {
    text-decoration: none;
}
.button-catalog span {
    padding: 20px;
    display: block;
    margin: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 500;
}
.btn-cattalog-hover {
    color: white;
    background-color: black;
}
.btn-cattalog-hover2 {
    color: #A4A4A4;
    background-color: #F4F4F4;
}
.btn-cattalog-hover:hover {
    background-color: #363636;
    
}
.btn-cattalog-hover2:hover {
    color: var(--color--white);
    background-color: #A4A4A4;
}

/* sale-holiday */

.sale-holiday{
    max-width: 1220px;
    display: flex;
    margin: auto;
}
.banner-sale-left{
    width: 50%;
    height: 720px;
    background-image: url(/img/babyshop-home-pic1.webp);
    background-size: cover;
}
.banner-sale-text-content{
    width: 100%;
}
.banner-sale-text-content h6 {
    font-weight: 700;
    font-size: 14px;
}
.div-h2 {
    width: 100%;
    margin-top: 70px;
}
.banner-sale-text-content .banner-sale-text-content-h2 {
    font-family: BodoniModa2 !important;
    font-size: 7rem;
    color: var(--color--hover);
    line-height: 5px;
}
.banner-sale-text-content-h2-2 {
    font-size: 55px;
    font-family: BodoniModa !important;

}
.banner-sale-right{
    width: 50%;
    position: relative;
}
.container-banner-sale-left {
    text-align: center;
    padding: 240px 20px 30px 20px;
}
.container-banner-sale-bottom-item {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.banner-sale-bottom-item{
    margin: 0 40px;
}
.number{

}
.container-banner-sale-bottom-item .banner-sale-bottom-item .number {
    font-size: 30px;
    font-family: BodoniModa !important;
    font-weight: 700;
    color: var(--color--hover);

}
.container-banner-sale-bottom-item .banner-sale-bottom-item h3 {
    font-family: BodoniModa !important;
    font-size: 30px;
}
.container-banner-sale-bottom-item .banner-sale-bottom-item hr {
    background-color: var(--color--cyan--bluish--gray);
    width: 70%;
    margin: auto;
}
.banner-sale-right{
    background-color: #EAF0F7;
    padding: 140px 20px 30px 20px;
}
.container-title-item{
    width: 100%;
    overflow: hidden;
}
.container-tile{
    text-align: center;
}
.container-tile h6 {
    font-size: 14px;
    font-weight: 700;
}
.container-tile h2 {
    font-size: 55px;
    font-family: BodoniModa !important;
    font-weight: 700;
    color: var(--color--black);
}
.container-tile h2 span {
    font-size: 55px;
    font-family: BodoniModa !important;
    font-weight: 700;   
    color: #94AFC1;
}
.div-slider{
    width: 100%;
    /*padding: 0 100px;
    */position: relative;
    transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -ms-transition: ease-in 0.25s;
    -o-transition: ease-in 0.25s;
}
.div-slider a:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
.div-slider a img {
    width: 100%;
}
.div-slider a .img-text-big {
    width: 100%;
    padding: 0 100px;
}
.div-slider a .img-text-small {
    width: 300px;
    /* padding: 0 100px; */
}
.div-slider .img-slider {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    padding: 0 100px;
}
.btn-click {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40%;
    padding: 0 30px;
    left: 0;
    z-index: 3;
}
.btn-click .btn-img {
    width: 50px;
    /* padding: 10px; */
    cursor: pointer;
}
.div-slider a {
    text-decoration: none;
}
.img01 {
    padding: 0 100px;
}
.div-slider a h3 {
    color: var(--color--black);
    font-weight: 500;
    text-align: center;
}
.div-slider a .img-text-small {

}
.img-text-small {
    padding: 0;
    display: block;
    margin: auto;
}
.div-slider a {

}

/* cart */
/* .container-cart {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: ease-in 0.8s;
    -webkit-transition: ease-in 0.8s;
    -moz-transition: ease-in 0.8s;
    -ms-transition: ease-in 0.8s;
    -o-transition: ease-in 0.8s;
} */
.cart{
    max-width: 420px;
    padding: 10px;
    position: fixed;
    top: 55px;
    right: -100%;
    z-index: 1001;
    background-color: var(--color--white);
    transition: ease-in 0.8s;
    -webkit-transition: ease-in 0.8s;
    -moz-transition: ease-in 0.8s;
    -ms-transition: ease-in 0.8s;
    -o-transition: ease-in 0.8s;
}
.title-cart{
    position: relative;
}
.title-cart h3 {
    display: flex;
    justify-content: center;
}
.title-cart h3 svg {
    width: 30px;
    margin-right: 5px;
}
/* .title-cart h3 span {
    position: absolute;
    top: 0;
    left: 0;
} */
.close-cart {
 position: absolute;
 top: 0;
 left: 15px;
 padding: 5px;
 font-weight: 700;
 transition: ease-in 0.15s;
 -webkit-transition: ease-in 0.15s;
 -moz-transition: ease-in 0.15s;
 -ms-transition: ease-in 0.15s;
 -o-transition: ease-in 0.15s;
}
.close-cart:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.title-cart a {
  
    text-decoration: none;
    color: var(--color--black);
    
}
.totalProduct div{
    display: flex;
    padding: 10px;
    /* justify-content: ; */
    align-items: center;
}
.img-product-cart {
    width: 20%;
}
.img-product-cart2{
    width: 40%;
    padding: 0 5px;
   border-right: 1px solid var(--color--cyan--bluish--gray);
}
.img-product-cart dl {
    display: flex;
    margin: 0;
    color: var(--color--cyan--bluish--gray);
    align-items: center;
}
.img-product-cart dl dt {
    font-weight: 500;
}
.img-product-cart dl dd {
    margin-left: 5px;
}
.img-product-cart dl dd p {
    margin: 0;
}
.img-product-cart h6 a {
    text-decoration: none;
    color: var(--color--black);
}
.img-product-cart2 h6 {
    text-align: left;   
}
.price-01{
    text-align: left;
    font-weight: 500;
    color: var(--color--cyan--bluish--gray);

}
.price-01 span {
    font-weight: normal;
    color: var(--color--cyan--bluish--gray);

}
.total-deatails{
    display: flex;
    align-items: center;
    width: 20%;
}
.total-deatails span {
    padding: 0 5px;
    font-weight: 700;
    color: var(--color--hover);
}
.img-product-cart a img {
    width: 100%;
}
.sub-total-price{
    width: 100%;
}
.subTotal{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.Total{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.Total span {
    font-size: 25px;
}
.btn-pay{
    width: 100%;
}
.btn-pay {

}
.btn-pay-link {
    background-color: var(--color--black);
    padding: 20px;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}
.btn-pay-link span {
    color: var(--color--white);
}
.btn-pay-link:hover {
    background-color: #171b20;
}
.btn-pay-link2 {
    color: #171b20;
    display: block;
    text-decoration: none;
    padding: 20px;
    width: 50%;
    margin: auto;
    font-weight: 700;
    text-align: center;

}
.btn-pay-link2:hover {
    text-decoration: underline;
    color: #171b20;
} 
.sub-total-price {
    /* position: fixed;
    width: 100%; */
}
.add-edit-delete{
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
}
.add-edit{
    display: flex;
    padding: 10px;
    background-color: #F0F2F6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 50px;
 
}
.add-edit a {
    text-decoration: none;
    color: var(--color--black);
    font-size: 40px;
    padding: 0 10px;
    line-height: 30px;

}
/* .add-edit a:hover {
    background-color: #5a5e62;
} */
.add-edit input {
    width: 30px;

    margin: 0 20px;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
}
.delete{
    background-color: #F0F2F6;
    align-items: center;
    display: flex;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.delete a {
    font-size: 25px;
    text-decoration: none;
    color: var(--color--black);
}

/* .totalProduct div {
    display: flex;
} */

.remove-add:hover{
    color: var(--color--hover);
}

/* ----------------------What are benefits of choosing us?-------------------------------- */

.user-manual {
    max-width: 1220px;
    margin: auto;
    padding-top: 130px;
}
.container-user-manual {
    width: 100%;
}
.container-title-user-manual {
    
}
.container-title-user-manual h2 {
    font-size: 55px;
    font-family: BodoniModa !important;
    color: var(--color--black);
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
}
.container-title-user-manual h2::selection {
    background-color: var(--color--hover);
}
.container-title-user-manual h5 {
    color: #373f4b;
    font: 20px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 30px;

}

.container-item{
    display: flex;
    align-items: center;
}
.container-item-left{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
}
.container-item-left-img{
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.container-item-left-content{
    text-align: center;
}
.container-item-left-content h6 {
    font-weight: 700;
    font-size: 14px;
}
.container-item-left-content p {
    font-size: 17px;
}   
.container-item-left-content p::selection {
    background-color: var(--color--hover);
}
.container-item-left-line{
    margin-bottom: 16px;
}
.container-item-center{
    width: 50%;
}
.container-item-center img {
    width: 100%;
}
.container-item-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
}
.container-item-right-img{
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}
.container-item-right-content{
    text-align: center;
}
.container-item-right-content h6 {
    font-weight: 700;
    font-size: 14px;
}
.container-item-right-content p {
    font-size: 17px;
}   
.container-item-right-content p::selection {
    background-color: var(--color--hover);
}
.container-item-right-line{
    margin-bottom: 16px;
}
.btn-see-all-features {
    padding: 80px 0;
    text-align: center;
}
.btn-see-all-features a {
    text-decoration: none;
    background-color: var(--color--black);
    padding: 20px 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-see-all-features a:hover {
    background-color: #333333;
}
.btn-see-all-features a span {
    font-size: 15px;
    color: var(--color--white);
    font-weight: 600;

}

/* blog-new */

.container-blog-news{
display: flex;
max-width: 1220px;
margin: auto;
padding-bottom: 70px;
}
.container-blog-news-left-deatails {
    width: 70%;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.container-blog-news-left{
    width: 100%;
    position: relative;
}
.container-blog-news-left img {
    width: 100%;

} 
.container-blog-news-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

.container-blog-news-left-deatails:hover .container-blog-news-left::after{
    opacity: 1;
}
.container-blog-news-left-deatails:hover .desc h3 {
    padding-bottom: 30px;
}

.container-blog-news-right{
    width: 30%;
}
.container-blog-news-left-title{
  
}
.container-blog-news-left-title-details {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 40px;
    z-index: 4;
    background: linear-gradient(0deg,#333333, transparent);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;

}
.desc{
    width: 100%;
    color: var(--color--white);
    margin-bottom: 20px;
    transition: all 0,4s ease-in-out;
    -webkit-transition: all 0,4s ease-in-out;
    -moz-transition: all 0,4s ease-in-out;
    -ms-transition: all 0,4s ease-in-out;
    -o-transition: all 0,4s ease-in-out;

}
.desc::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    transition: all 0,4s ease-in-out;
    -webkit-transition: all 0,4s ease-in-out;
    -moz-transition: all 0,4s ease-in-out;
    -ms-transition: all 0,4s ease-in-out;
    -o-transition: all 0,4s ease-in-out;

    /*background-color: var(--color--white);
    */
}
.container-blog-news-left-deatails:hover .desc::after{
    width: 300px;
    content: "";
    display: block;
    height: 4px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    background-color: var(--color--white);
}
.author{
    width: 100%;
    font-size: 17px;
    margin-right: 5px;
}
.author img {
    width: 15px;
    background-image:imag
}
.author svg path {

}
.date{
    width: 100%;
}
.date img {
    width: 15px;
}
.container-blog-news-right{
    display: flex;
    flex-direction: column;
}
.img-top{
    width: 100%;
    height: 50%;
}
.img-top::after {

}
.img-top img {
   width: 100%;
   /* height: 100%; */
}
.img-bottom{
    width: 100%;
    height: 50%;
}
.img-bottom img {
    width: 100%;
    /* height: 100%; */
}
.desc h3 {
   transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   /* padding-bottom: 10px; */
   margin: 0;
 
}
/* .desc h3:hover {
    padding-bottom: 30px;

} */
/* .desc h3::after {
    content: "";
    width: 200px;
    height: 4px;
    display: block;
    background-color: var(--color--white)
} */
.container--product-item-deatails:hover .desc .lines{
    width: 200px;
}
.lines {
    width: 100px;
    display: block;
    border: 3px solid var(--color--white);

}
/* .desc h3::after {
    /* padding-bottom: 20px; */
    /* content: "";
    width: 200px;
    border: 4px solid;
    background-color: var(--color--white);
    display: block; */
/* } */
.desc h3 a {
    text-decoration: none;
    font-size: 30px;
    font-family: BodoniModa !important;
    color: var(--color--black);
    font-weight: 700;
  
    color: var(--color--white);


}
.desc2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.container-blog-news-right{

}
.img-top2{
    
}
.img-top2 img {
    width: 100%;
}
.img-bottom2{

}
.img-bottom2 img {
    width: 100%;
}

/*  */
.container-blog-news-right-deatails1 {
    height: 50%;
    position: relative;
}
.img-top2 {
    width: 100%;
    height: 100%;
}
.img-top23 {
    width: 100%;
    height: 100%;
}
.img-top2 img {
    width: 100%;
    height: 100%;
}
.img-top2::after {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}
.container-blog-news-right-deatails1:hover .img-top2::after  {
    opacity: 1;
}
.container-blog-news-right {
    
}
.contaienrss{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    background: linear-gradient(0deg,#3c3c3c, transparent);
}
.contaienrss h3 {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.contaienrss::after {
    content: "";
    display: block;
    background-color: var(--color--white);
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    height: 4px;
    width: 0;
}
.container-blog-news-right-deatails1:hover .contaienrss {
    background: linear-gradient(0deg,#333333, transparent);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.container-blog-news-right-deatails1:hover .contaienrss h3 {
    margin-bottom: 30px;
}
.container-blog-news-right-deatails1:hover .contaienrss::after {
    content: "";
    display: block;
    background-color: var(--color--white);
    height: 4px;
    width: 200px;
}
.icon2{

}
.data2{

}
.img-bottom2 {
    height: 50%;
}
.img-bottom2 img {
    width: 100%;
    height: 100%;
}
.contaienrss {
    padding-left: 30px;
    color: var(--color--white);
}
.contaienrss h3 {

}
.contaienrss h3 a {
    font-size: 20px;
    color: var(--color--white);
    text-decoration: none;
}
.icon2 img {
    width: 15px;
}
.data2 img {
    width: 15px;
}
.img-top2::after {

}
.container-blog-news-right-deatails2{
    height: 50%;
    position: relative;
}
.img-bottom2::after {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    opacity: 0;
}
.container-blog-news-right-deatails2:hover .img-bottom2::after{
    opacity: 1;
}

.img-bottom2{
    width: 100%;
    height: 100%;
}
.img-bottom2 img {
    width: 100%;
}
.container-blog-news-right-3{
    position: absolute;
    background: linear-gradient(0deg,#3c3c3c, transparent); 
    bottom: 0;
    left: 0;
    padding-left: 30px;
    color: var(--color--white);
}
.container-blog-news-right-3::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: var(--color--white);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    margin-bottom: 20px;
}
.container-blog-news-right-deatails2:hover .container-blog-news-right-3::after {
    content: "";
    display: block;
    height: 4px;
    width: 200px;
    background-color: var(--color--white);
}

.container-blog-news-right-3 h3 {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.container-blog-news-right-deatails2:hover .container-blog-news-right-3 h3 {
    margin-bottom: 30px;
}
.container-blog-news-right-3 a {
    text-decoration: none;
    color: var(--color--white);
    font-size: 20px;
}
.icon3 img{
    width: 15px;
}
.data3 img{
    width: 15px;
}

/* bestseller */
.our-bestseller{
    max-width: 1220px;
    margin: auto;
}
.title-our-bestseller{
    text-align: center;
}
.title-our-bestseller h2 {
    font-family: BodoniModa !important;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;

}
.our-bestseller-h2{

}
.container-item-our-bestseller {
    width: 100%;
}
/* .container-ul2 {
    display: grid;
    grid-template: 25% 25% 25% 25%;
} */
.brand {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.brand a {
    text-decoration: none;
    width: calc((100% / 5 - 10px));
    text-align: center;
    padding: 10px 15px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.brand a:hover {
    background-color: #F2F2F2;
}
.instagram {
    background: url(/img/babyshop-instagram.webp);
    /* background-size:cover; */
}
.container-instagram {
    padding: 70px 0;
    text-align: center;
}
.container-instagram a {
    text-decoration: none;
    color: var(--color--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color--hover);
    padding: 10px 20px;
    width: 180px;
    margin: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 500;
}
.container-instagram img {
    width: 16px;
    margin-right: 5px;
}
.rule {
    width: 100%;
    padding: 70px 0;
}
.rule ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}
.rule li {
    width: calc((100% / 4 - 10px));
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rule li img {
    width: 50px;
}
.rule li span {
    margin-left: 10px;
}

/* footer */
#footer {
    width: 100%;
    background-color: #F6F7F9;
    padding: 70px 0;
}
.container-footer{
    max-width: 1220px;
    margin: auto;
}
.container-footer .container-list-footer {
    display: flex;
    padding: 0;
    list-style: none;
}
.container-list-footer {
    justify-content: space-between;
   
}
.container-list-footer .list01{
    width: calc((100% / 4 - 20px));
}
.container-list-footer .list01 img {
    width: 100%;
}
.container-list-footer .list01 p {
    color: #778088;
    margin: 30px 0;
}
.container-list-footer .list01 .join-in {
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    background-color: var(--color--black);
    padding: 10px 15px;
    width: 150px;
    color: var(--color--white);
    font-size: 20px;
    margin: 0 auto 30px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container-footer-img {
    width: 100%;
}
.container-footer-img img {
    width: 100%;
    background-size: cover;
}
.container-footer .container-list-footer li a {
    display: block;
}
.container-footer-img {
    width: 100%;
}
.container-footer-img img {
    width: 100%;
}
.list-footer {
    list-style: none;
    font-size: 20px;
    padding: 0;
}
.list-footer a {
    text-decoration: none;
    color: var(--color--black);
    font-size: 17px;
}
.list01 li {
    padding: 10px;
}
.list01 li a:hover {
    text-decoration: underline;
}
.list-footer li a {
    display: flex;
}
.img-hotel-span {

}
.img-hotel {
    width: 10px;
}
.link-img-hotel {
    display: flex;
}
.list-footer li a span {
    display: flex;
    padding: 10px 0;
    align-items: center;
}
.monday-friday {
    font-size: 17px;
}
.monday-friday span {
    color: #6A7588;
}

/*? -------------About Us-------------------------------------------------------------------------------------*/

#body{
    padding: 70px 0;
    width: 100%;

}
.container-body{
    max-width: 1220px;
    margin: auto;
    background-image: url(/img/babyshop-section-bg1.webp);
   background-size: 110%;
   /* background-size: cover; */
}
.container-title{
    width: 100%;
}
.title-hello{
    font-size: 100px;
    font-family: BodoniModa !important;
    font-weight: 700;
    text-align: center;
}
.title-welcome-in-h3{
    font-family: BodoniModa !important;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}
.title-welcome-in-h3 span {
    font-family: BodoniModa !important;
    font-size: 30px;
    font-weight: normal;
    position: relative;
    z-index: 2;
}
.title-h3-span::after {
    content: "";
    display: block;
    background-color: var(--color--hover);
    height: 6px;
    width: 180px;
    position: absolute;
    bottom: 8px;
    left: 0;
    transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    z-index: -1;
}

/* container-video */

.container-video{
    background: url(/img/babyshop-wrap-bg1.webp);
    text-align: center;
    /* background-size: cover; */
    margin-top: 50px;
}
.container-video-pause{
    padding: 250px 0;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.container-video-pause:hover {
    opacity: 0.6;
}

/* container-nulla-auge */
.container-nulla-aguge-details {
    width: 100%;
}

.container-nulla-auge{
    width: 1220px;
    display: flex;
    padding: 90px 0;
    margin: auto;
}
.nulla-auge-title{
    font-size: 55px;
    font-family: BodoniModa !important;
    padding: 0 25px;
    font-weight: 700;
    width: 30%;
    line-height: 65px;

}
.nulla-auge-title-p-container{
    width: 70%;
}
.nulla-auge-title-p{
    font-size: 20px;
}
.p-caplock{
    background-color: var(--color--white);
    font-size: 40px;
    color: var(--color--hover);
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    float: left;
}
.author-container-nulla-auge{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.author{
    
}
.author strong {
    display: block;
}
.author span {
    display: block;
}
.author-img{

}
.container-line{
    text-align: center;
    max-width: 1220px;
    margin: auto;
}
.line{

}
.container-a-few-facts-about{
    max-width: 1220px;
    margin: auto;
    display: flex;
    padding: 60px 0;
}
.title--a-few-facts-about{
    font-size: 20px;
    font-family: BodoniModa !important;
    font-weight: 700;
    padding: 0 25px;
    width: 30%;
    
}
.container-number{
    font-family: BodoniModa !important;
    width: 70%;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 33.33333333333333% 33.33333333333333% 33.33333333333333%;



}
.title-container-number {
    width: 100%;
}
.number{
    display: block;
    font-size: 55px;
    font-family: BodoniModa !important;
    font-weight: 600;

}
.text-title{
    display: block;
    font-size: 20px;
    font-family: BodoniModa !important;

}
.container-meet-out-team{
    max-width: 1220px;
    margin: auto;
    text-align: center;
}
.container-title-meet-out-team{
    width: 80%;
    background-color: #F6F7F9;
    margin: auto;
    padding: 110px 0;

}
.container-title-meet-out-team h6 {
    margin-bottom: 16px;
    /* font-family: BodoniModa !important; */
    color: var(--color--hover);
    font-weight: 700;
 
}
.container-title-meet-out-team h2 {
    font-size: 55px;
    font-family: BodoniModa !important;
    
}
.container-figure{
    width: 100%;
}
.figure{
    display: flex;
    justify-content: space-between;

}
.container-desc1{
margin: 0 12px;
width: 33.33333333333333%;
background:url(/img/babyshop-about-pic2.webp) ;

}
.container-desc2{
margin: 0 12px;
width: 33.33333333333333%;

}
.container-desc3{
    margin: 0 12px;
    width: 33.33333333333333%;

}